<div class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="home_page_card_container">
                    <div class="row justify-content-center">
                        {% for mangaRate in mangasRating|slice(0,5) %}
                        <a href="{{ path('app_show', {id: mangaRate.id}) }}" class="card_link">
                                <div class="home_page_card">
                                    <div class="home_page_card_title">
                                        <h6>{{ mangaRate.title}}</h6>
                                    </div>
                                    <img class="home_page_card_img_top" src="{{ asset(mangaRate.picture) }}">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="home_page_card_container row">
                    <div class="row justify-content-center">
                        {% for mangaRate in mangasRating|slice(5,5) %}
                            <a href="{{ path('app_show', {id: mangaRate.id}) }}" class="card_link">
                                <div class="home_page_card">
                                    <div class="home_page_card_title">
                                        <h6>{{ mangaRate.title}}</h6>
                                    </div>
                                    <img class="home_page_card_img_top" src="{{ asset(mangaRate.picture) }}">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="home_page_card_container row">
                    <div class="row justify-content-center">
                        {% for mangaRate in mangasRating|slice(10,5) %}
                            <a href="{{ path('app_show', {id: mangaRate.id}) }}" class="card_link">
                                <div class="home_page_card">
                                    <div class="home_page_card_title">
                                        <h6>{{ mangaRate.title}}</h6>
                                    </div>
                                    <img class="home_page_card_img_top" src="{{ asset(mangaRate.picture) }}">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="home_page_card_container row">
                    <div class="row justify-content-center">
                        {% for mangaRate in mangasRating|slice(15,5) %}
                            <a href="{{ path('app_show', {id: mangaRate.id}) }}" class="card_link">
                                <div class="home_page_card">
                                    <div class="home_page_card_title">
                                        <h6>{{ mangaRate.title}}</h6>
                                    </div>
                                    <img class="home_page_card_img_top" src="{{ asset(mangaRate.picture) }}">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>