<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark opacity-75">
            <div class="container-fluid">
                <h1 class="text-danger opacity-50"> MangAnime </h1>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-2 ms-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-5 me-3">
                            <a class="nav-link active link-light" aria-current="page" href="{{ path('app_user_manga_list_index') }}">Ma liste</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                        <a class="nav-link link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Anime
                        </a>
                        </li>
                    </ul>
                    <div class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="button" id="search">Search</button>
                    </div>
                     <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="account">
                        <li class="nav-item ms-5">
                            <a class="nav-link active link-light" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item ms-5">
                            <a class="nav-link active link-light" aria-current="page" href="{{ path('app_logout') }}">Deconnexion</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item ms-5 me-3">
                            <a class="nav-link active link-light" aria-current="page" href="{{ path('app_admin') }}">Gestion manga</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <li class="nav-item ms-5 me-3">
                            <p class="user_email text-light text-center">Bonjour ! <br> {{ app.user.email }}</p>
                        </li>
                        {% else %}
                        <li class="nav-item ms-5 me-3">
                            <a class="nav-link active link-light" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        {% endif %}
                        
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
