{% extends "base.html.twig" %}

{% block title %}Ma liste{% endblock %}

{% block body %}


<main id="main_list" class="container-fluid">
    <div class="row">
        <div class="">
            <h1>Ma liste</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Nombre de volume posséder</th>
                <th>Statut</th>
                <th>liste des volume</th>
            </tr>
        </thead>
        <tbody>
        {% for userManga in userMangas %}
            <tr>
                <td>{{ userManga.title }}</td>
                {% if userManga.manga is not empty and userManga.manga.numberOfVolumes is not null %}
                    <td>{{ userManga.numberOfVolume }}/ {{userManga.manga.numberOfVolumes}} </td>
                {% else %}
                    <td>{{ userManga.numberOfVolume }}/indisponible</td>        
                {% endif %}
                
                
                <td>{{ userManga.status }}</td>
                <td>
                {% for volume in userManga.listOfVolume %}
                    {{ volume }}
                {% endfor %}
                </td>
                
                <td>
                    {# <a href="{{ path('app_author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
        <a href="{{ path('app_user_manga_list_new', {id: app.user.id}) }}">ajouté</a>
    </div>

</main>
{% endblock %}